<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.wildfly.clustering.server.api" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="wildfly-clustering-server-api-8.1.0.GA-redhat-00015.jar"/>
        <resource-root path="wildfly-clustering-server-api-5.0.10.Final-redhat-00001.jar"/>
    </resources>
</module>
